<div class="content">
    <div class="footer">
        <div class="footerLeft">
            <h1>Matthias</h1>
            <a class="impressum" (click)="navigateToImpressum()">Impressum</a>
            <img class="hovereffect" src="assets/img/texthover.png">
        </div>
        <div class="footerMid">
            <p class="copyright">&copy; Matthias Stute 2022</p>
        </div>
        <div class="footerRight">
            <img src="assets/img/githubbutton.png" class="gitbutton" (click)="goToGitHub()">
            <img src="assets/img/Mailbutton.png" class="mailbutton" (click)="scrollToSection('#talk')">
            <img src="assets/img/Linkedinbutton.png" class="inbutton" (click)="goToLinkedIn()">
        </div>
    </div>
</div>