<div class="header" id="header">
  <div class="header-left">


    <h2>M <span class="color-s">S</span></h2>

  </div>
  <div class="menu">
    <a href="#aboutme">{{ 'header.aboutme' | translate }}</a>
    <a href="#skills">{{ 'header.skills' | translate }}</a>
    <a href="#portfolio">Portfolio</a>
    <a (click)="switchlanguage()">
      <img src="{{imgPath}}" class="countryFlag">
    </a>
    
  </div>
  <div class="mobilemenu" id="mobilemenu">
    <img *ngIf="!mobileMenuOpen" src="assets/img/burgermenu.png" class="mobilemenubutton" (click)="openMobileMenu()">
    <img *ngIf="mobileMenuOpen" src="assets/img/closemenu.png" class="closebutton" (click)="openMobileMenu()">
    <div [class.mobilemenuopen]="mobileMenuOpen" [class.mobilemenuclosed]="!mobileMenuOpen">
      <a href="#aboutme" (click)="openMobileMenu()">About me</a>
      <a href="#skills" (click)="openMobileMenu()">Skills</a>
      <a href="#portfolio" (click)="openMobileMenu()">Portfolio</a>


    </div>
  </div>
</div>