.content{ 
    background-color: #141D2F;
   
    margin: 0 auto;
    display: flex; 
    justify-content: center;
}
.contact-me {
    background-color: #141D2F;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
    overflow: hidden;
    margin-top: -5px;
    max-width: 1920px;
    width: 100vw;

}

.contact-section {
  
    display: flex;

}

.contact-header,
.contact-subheader {
    color: #ffffff;
    margin: 0;
}

.contact-header {
    font-weight: 700;
    font-size: 90px;
    padding-bottom: 80px;
    padding-top: 60px;
}

.contact-text {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 100;
    margin-right: -40px;
}

.contact-subheader {
    font-size: 32px;
}

.formssection {
    display: flex;
    flex-direction: column;
    margin-top: 275px;
    z-index: 100;
    align-items: center;
    position: relative;
}

.lowersection {
    display: flex;
    flex-direction: row;
}

.purpleline {
    position: absolute;
    left: 0;
    top: 130px;
    width: 120px;
    height: 3px;
}

.contact-me-text {
    color: white;
    max-width: 400px;
}

.closing-line {
    color: #ffffff;

    >.big {
        font-weight: 800;
    }
}

@mixin formstyles() {
    border: 1px solid #9747FF;
    background-color: transparent;
    border-radius: 10px;
    color: white;

    &::placeholder {
        color: white;
    }

    &:hover {
        border: 1px solid #70E61C;
        cursor: pointer;
    }
}
.gray-btn{ 
    width: 253px;
    height: 58px;
    border-radius: 10px;
    padding: 15px 30px;
    background-color: #8f8f8f;
    margin-bottom: 110px;
}
.yourname,
.yourmail {
    @include formstyles();
    width: 669px;
    height: 50px;
    padding: 15px 30px;

}

.yourmail, [type=email] {
    margin-top: 28px;
}
form{ 
    display: flex;
    flex-direction: column;
    margin-top: 275px;
    align-items: center;
}
.yourmessage {
    @include formstyles();
    width: 684px;
    height: 202px;
    padding: 15px 25px;
    margin-top: 28px;
}

.checkbox-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 12px;
    margin-bottom: 12px;
}

.checkbutton {
    height: 24px;
    width: 24px;
    z-index: 100;
    &:hover {
        cursor: pointer;
        background-color: #ffffff19;
        border-radius: 10px;
    }
}
.upBtn{ 
    position: absolute;
    bottom: 50px;
    right: 0;
    animation: moveUpDown 1s ease-in-out infinite;
}

.invalid{ color: red;}

.privacy-policy {
    color: #ffffff;
    margin-left: 12px;
    &:hover{ 
        cursor: pointer;
    }
}

.director {
    color: #9747FF;
    text-decoration: none;
}

.send-btn {
    width: 253px;
    height: 58px;
    border-radius: 10px;
    padding: 15px 30px;
    background-color: #70E61C;
    filter: drop-shadow(4px 4px 4px 0 #00000025);
    color: #ffffff;
    transition: 0.1s ease-out;
    margin-bottom: 110px;

    &:hover {
        transform: translateY(5px) translateZ(-5px) scale(1.1, 1.1);
        background-color: #9747FF;
        cursor: pointer;
    }

}

.pshadow{
    position: absolute;
    left: -250px;
    bottom: -170px;
    z-index:0 ;
}

span{ 
    color: red;
}

@keyframes moveUpDown {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-6px);
    }
  }

@media(min-width: 1920px){
    .purpleline{ 
        display: none;
    }
    .pshadow{ 
        display: none;
    }
}
@media (max-width : 1730px){ 
    .purpleline{ 
        width: 100px;  
    }
      
} 
  
@media (max-width : 1610px){ 
    .purpleline{ 
        width: 80px;  
    }
      
} 
  
@media (max-width : 1530px){ 
    .purpleline{ 
        width: 60px;  
    }
      
} 

  
@media (max-width : 1450px){ 
    .purpleline{ 
        width: 40px;  
    }
      
} 
  
@media (max-width : 1350px){ 
    .purpleline{ 
        width: 20px;  
    }
  .contact-text{ 
    margin-left: 30px;
  }    
  .yourname, .yourmail{
    width: 559px;
  }
  .yourmessage{ 
    width: 571px;
  }
} 

@media(max-width: 1150px) {
    .contact-me{ 
        flex-direction: column;
    }

    .formssection{ 
        margin-top: -170px;
    }

    .pshadow{ 
        left: -516px;
        bottom: -445px;
    }
    .contact-section{ 
        margin-left: 30px;
    }
}

@media(max-width: 700px){ 
    .privacy-policy{ 
        max-width: 350px;
    }

    .yourname{ 
        width: 443px;
    }
    .yourmail{ 
        width: 443px;
    }
    .yourmessage{ 
        width: 458px;
    }
    .contact-header{ 
        font-size: 80px;
        padding-top: 100px;
    }

    .purpleline{ 
        top: 160px;
    }

    .upBtn{ 
        right: 40px;
    }
}

@media(max-width: 550px){
    .yourname{ 
        width: 243px;
    }
    .yourmail{ 
        width: 243px;
    }
    .yourmessage{ 
        width: 258px;
    }
    .contact-me-text{ 
        max-width: 310px;
    }
    .contact-subheader{
        font-size: 26px;
    }
    .contact-header{
        font-size: 70px;
    }
}

@media(max-width: 420px) {
    .purpleline{ 
        display: none; 

    }
    .contact-header{
        font-size: 60px;
    }
    .contact-subheader{ 
        font-size: 26px;
    }
} 

@media screen and (min-width: 2220px){
    .purpleline{ 
        width: 250px;
    }
} 