<div class="backgroundcontainer" id="aboutme">
<img src="assets/img/Vector.png" class="section-divider">
<div class="about-me-section">
    <div class="about-me-container">
     <h1 class="about-me-header">About Me</h1>
     <p class="about-me-text">Hi, I am a Front-end developer based in Oldenburg, Germany! 
        I thrive on the challenges of coding and problem-solving, constantly seeking ways to elevate user interfaces and experiences. Currently on the lookout for opportunities to grow and contribute as a junior web developer, I bring dedication, creativity, and a hunger for learning to every project. If you're in need of a motivated developer to join your team, let's chat!
        </p>
     <div class="extranote1">
        <img src="assets/img/bulb.png" class="bulb">
        <p class="extranotetext">Always open to new ideas and challenges, I'm driven by a constant thirst for knowledge and improvement. Let's collaborate and illuminate the digital landscape together!</p>
     </div>
     <div class="extranote2">
        <img src="assets/img/puzzle.png" class="puzzle">
        <p class="extranotetext">Consider me the missing puzzle piece for your team. With my passion for Front-end development and dedication to excellence, I'm ready to contribute to your projects and help you achieve your goals. Let's connect and unlock the full potential of your company's digital presence!</p>
     </div>
    </div>
    <div class="about-me-container-right">
        <div class="lineandCricle"> 
        <img src="assets/img/Purple_shadow.png" class="backgroundelement">
        <img src="assets/img/greenline.png" class="greenline">
    </div>
    <div class="roundContainer">
        <img src="assets/img/roundpix3-min.png" class="circle">
    </div>
    </div>
</div>
</div>