
    <div class="container">
      

        <div class="textcontainer">
          <div id="dsg-out-generate-text-main-de"
class="dsg-out-generate-text-main dsg-out-preview-inner dsg-element backgroundelement">
<div class="content">
    <h1>Impressum</h1>
    <h2 id="m46">{{ 'impressum.service' | translate }}</h2>
    Matthias Stute <br>
    Starklofstrasse <br>
    26121 Oldenburg <br>
    <h2 id="m56">{{ 'impressum.contact' | translate }}</h2>{{ 'impressum.mailaddress' | translate }}
</div>
</div>
      <h1> {{ 'privacypolicy.pp' | translate }}</h1>
        <h2>{{ 'privacypolicy.ppsubheader' | translate }}</h2>
       <h3> {{ 'privacypolicy.main' | translate }}</h3>
       <p>  {{ 'privacypolicy.phase' | translate }}</p> 
        <br>
       <h2>{{ 'privacypolicy.ppsubheader2' | translate }}</h2>
       <h3> {{ 'privacypolicy.responsibility' | translate }}</h3>
       <br>
       <p> {{ 'privacypolicy.phase1' | translate }}</p>
       <h3> {{ 'privacypolicy.how' | translate }}</h3>
       <p>{{ 'privacypolicy.phase2' | translate }}</p>
       <h3>{{ 'privacypolicy.why' | translate }}</h3>
       <p> {{ 'privacypolicy.phase3' | translate }} </p>
        

       <h3> {{ 'privacypolicy.rights' | translate }}</h3> 
       <p> {{ 'privacypolicy.phase4' | translate }} </p>
        
       <h3> {{ 'privacypolicy.tools' | translate }} </h3> 
     <p>   {{ 'privacypolicy.phase5' | translate }}</p>
       
       <h2> {{ 'privacypolicy.ppsubheader3' | translate }}</h2> 
       <p> {{ 'privacypolicy.phase6' | translate }}</p>
        <h3> {{ 'privacypolicy.allinkl' | translate }}</h3> 
       <p>  {{ 'privacypolicy.phase7' | translate }}
      </p> 
        <p>        
          {{ 'privacypolicy.phase8' | translate }}
    </p>

       <h2>  {{ 'privacypolicy.hints' | translate }}</h2>
        <h3>{{ 'privacypolicy.privacypolicy1' | translate }}</h3>
       <p> {{ 'privacypolicy.phase9' | translate }}</p>
       <p> {{ 'privacypolicy.phase10' | translate }}</p>
       <p>{{ 'privacypolicy.phase11' | translate }}</p>
     
        <h3>{{ 'privacypolicy.responsiblebody' | translate }}</h3>
      <p>  {{ 'privacypolicy.mydata' | translate }}</p>
        Matthias Stute <br>
        Starklofstr. 14 <br>
        26121 Oldenburg <br> 
        E-Mail: matthiasstute&#64;yahoo.de <br>
      <p> {{ 'privacypolicy.phase12' | translate }}</p>
      <h3>  {{ 'privacypolicy.duration' | translate }}</h3>
      <p>  {{ 'privacypolicy.phase13' | translate }}</p>
       <h3> {{ 'privacypolicy.hints2' | translate }}</h3>
      <p>  {{ 'privacypolicy.phase14' | translate }}</p>
       <h3>  {{ 'privacypolicy.recipient' | translate }}</h3>
      <p>  {{ 'privacypolicy.phase15' | translate }}</p>
       <h3> {{ 'privacypolicy.revocation' | translate }}</h3>
   
        <p>{{ 'privacypolicy.phase16' | translate }}</p>

       <h3> {{ 'privacypolicy.rto' | translate }}</h3>
        <p>{{ 'privacypolicy.phase17' | translate }}</p>
       <p> {{ 'privacypolicy.phase18' | translate }}</p>
       <h3> {{ 'privacypolicy.appeal' | translate }}</h3>
       <p>{{ 'privacypolicy.phase19' | translate }}</p>
      <h3>  {{ 'privacypolicy.datatransfer' | translate }}</h3>
        <p>{{ 'privacypolicy.phase20' | translate }}</p>
       <h3> {{ 'privacypolicy.information' | translate }}</h3>
      <p>  {{ 'privacypolicy.phase21' | translate }}</p>
       <h3> {{ 'privacypolicy.distriution' | translate }}</h3>
      <p> {{ 'privacypolicy.phase22' | translate }}</p>
     
       <p class="end"> {{ 'privacypolicy.phase23' | translate }} </p><br>
       <p>{{ 'privacypolicy.source' | translate }}</p><br>
       <p>https://www.e-recht24.de</p><br>
    </div>
    </div>