html{ 
    display: flex;
    flex-direction: column;
    height: 100%;
}

.backgroundelement {
    height: auto;
    color: white;
    background-color:  #141D2F;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    >.h1{
margin: 0;
    }
}

.content {
    flex-grow: 2;
    padding: 80px;

}