
<div class="myskills">
    <img src="assets/img/Greenshadow.png" class="backgroundelement">
    <div class="logoSection">
        <div *ngFor="let logo of logos" class="logo-item">
        <img [src]="logo.path" class="logo-item">
        <p class="logoname">{{ logo.name }}</p>
        </div>
    </div>
    
    <div class="skillstextcontainer"  >
        <h1 class="myskillsheader" id="skills">My Skills</h1>
        <p class="skillsText">I have gained experience in building project with various<br> front end technologies and concepts.</p>
        <div class="buttonContainer">
        <a class="git-btn" href="#talk">Get in touch</a>
    </div>
    </div>
    <img src="assets/img/purpleline.png" class="purpleline">
</div>
