@mixin buttonElements() {
    width: 30px;
    height: 30px;
}

.landing-page-main-content {
    max-width: 1920px;
    display: flex;
    position: relative;
    align-items: center;
    margin-top: -3px;
}

.content{ 
    background-color: #141D2F;
    display: flex;
    justify-content: center;
    margin-bottom: -10px;
}
.mailbutton{ 
    margin-top: 4px;
}
.profilpicture {
    height: 974px;
    margin-top: 230px; //Bildschirm anpassen
    left: -15px;
    position: absolute;
    width: 649px;
  
}

.backgroundpic {
    margin-top: 70px;
    margin-bottom: -70px;
}

.landing-page-right {
    display: flex;
    margin-left: 160px;
    flex-direction: column;
    align-items: center;
    position: relative;

    >.lets-talk-btn {
        background-color: #70E61C;
        color: white;
        border-radius: 10px;
        padding: 15px 30px 15px 30px;
        font-weight: 400;
        z-index: 999;
        font-size: 23px;
        filter: drop-shadow(4px 4px 4px #00000025);
        transition: 0.1s ease-out;
        text-decoration: none;

        &:hover {
            transform: translateY(5px) translateZ(-5px) scale(1.1, 1.1);
            background-color: #9747FF;
            cursor: pointer;
        }
    }
}

.textfield {
    display: flex;
    align-items: center;
    position: relative;
    margin-top: -120px;
}

.iam {
    color: #FFFF;
    font-weight: 400;
    font-size: 64px;
    transform: translateY(-50%) rotate(-90deg);
    white-space: nowrap;
    position: absolute;
    top: 50%;
    right: -50px;
    right: calc(100% + 5px);
    margin-top: 35px;
    margin-right: -50px;
    z-index: 100;
   
}

.myname {
    color: #FFFF;
    font-weight: 700;
    font-size: 90px;
    white-space: nowrap;
    margin-left: 0px;
    margin-bottom: 40px;
 


}

.introductionField {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 100;


    >.frontend-dev {
        font-weight: 400;
        font-size: 58px;
        margin: 0;
        margin-top: -90px;
        margin-bottom: 30px;
        color: #9747FF;
        white-space: nowrap;
    }
}

.landing-page-footer {
    position: absolute;
    z-index: 1000;
    display: flex;
    margin-top: 100px;
    justify-content: center;
    align-items: center;
    gap: 70px;
    left: 0;
}

.Purplestroke {
    height: 4px;
    width: 100px;
}

.githubbutton,
.mailbutton,
.linkedinbutton {
    @include buttonElements();
    transition: 0.1s ease-in-out;
    z-index: 1000;

    &:hover {
        transform: scale(1.35);
        cursor: pointer;
    }
}

.scrolldown {
    position: absolute;
    right: 48px;
    z-index: 8;
    animation: moveUpDown 1s ease-in-out infinite;
}

.mailadress {
    font-weight: 400px;
    font-size: 23px;
    margin-left: 0px;
    color: white;

    &:hover {
        cursor: pointer;
    }
}
.mailadresslink{ 
text-decoration: none;
}

@keyframes moveUpDown {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-6px);
    }
  }



@media (max-width : 1720px) {


    .landing-page-right {

        margin-left: 150px;
    }
}



$breakpoints: (
    '1610px': 140px,
    '1590px': 130px,
    '1575px': 110px,
    '1550px': 0px,
    '1430px': -50px,
    '1405px': -80px,
    '1360px': -100px,
    '1340px': -210px,
    '1230px': -280px,
    '1170px' : -295px
);


@media(min-width: 2070px) {
    .profilpicture {
        margin-top: 210px;
    }
}


@media (min-width: 1920px) {
  .scrolldown {
    right: calc((100% - 1920px) / 2 );
    max-width: 1900px; 
  }
  .landing-page-footer{ 
    left: calc((100% - 1920px) / 2 ); 
    max-width: 1900px;
  }
} 
@media(max-width: 1935px){ 
    .scrolldown{ right: 20px;}
}

@each $breakpoint, $margin-left in $breakpoints {
    @media(max-width: $breakpoint) {
        .landing-page-right {
            margin-left: $margin-left;
        }
    }
}

@media(max-width: 2200px){ 
    .landing-page-footer{
        margin-top: 170px;
    }
}

@media(max-width: 1695px){
     .textfield{ 
        margin-left: -100px;
     }
     .lets-talk-btn{ 
        margin-left: -100px;
     }

}

@media(max-width: 1150px) {
    .landing-page-main-content {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .profilpicture {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin-top: -135px;

    }
.lets-talk-btn{
    margin-left: 0;
}
    .textfield {
        margin-top: -380px;
        margin-right: -25px;
        margin-left: 0;
    }

    .backgroundpic {
        width: 100%;
    }

    .landing-page-right {
        display: contents;
    }


    .backgroundpic {
        margin-bottom: 45px;
        margin-top: 120px;
    }

  

    .myname {
        margin-top: 244px;
    }

    .iam {
        margin-top: 109px;
    }

    .scrolldown {
        display: none;
    }

    .mailadress {
        display: none;
    }

    .githubbutton,
    .mailbutton,
    .linkedinbutton {
        width: 30px;
        height: 30px;
    }

    .Purplestroke{ 
        width: 160px;
    }
    .landing-page-footer{ 
        gap: 42px;
        align-items: self-start;
    }
    .Purplestroke{ 
        padding-top: 10px;
    }
    .mailbutton{ 
        margin-top: 0px;
    }
}

@media(max-width: 830px){ 
    .myname {
        margin-top: 327px;
    }

    .iam {
        margin-top: 151px;
    }
    
}

@media(max-width: 790px){ 
    .myname{ 
        font-size: 70px;
        margin-top: 370px;
        
    }

    .iam{ 
        font-size: 52px !important;
        margin-top: 177px;
        margin-right: -28px;
    }

    .frontend-dev{
        font-size: 47px !important;
    }
}
@media(max-width: 760px){ 
    .profilpicture{
        margin-top: -110px;
    }

    .myname{ 
        margin-top: 300px;
    }
    .iam{ 
        margin-top: 141px;
    }
  }

  @media(max-width: 710px){ 

    .myname{ 
        margin-top: 350px;
    }
    .iam{ 
        margin-top: 164px;
    }
  }

  @media(max-width: 670px){ 
    .profilpicture{ 
        height: 710px;
        width: 474px;
    }
    .backgroundpic{ 
        margin-bottom: 110px;
    }

    .myname{ 
        font-size: 50px;
   
    }

    .iam{ 
        font-size: 32px !important

    }
    .frontend-dev{
        font-size: 34px !important;
    }

    .introductionField{ 
        margin-left: 5px;
    }

   
    .Purplestroke{
        width: 80px;
    }
  }

  @media(max-width: 560px){ 
    .profilpicture{ 
        height: 580px;
        width: 380px;
    }
  }
  @media(max-width: 560px){ 
    .profilpicture{ 
        height: 580px;
        width: 380px;
    }
  }

  @media(max-width: 420px) {
    .landing-page-footer{
        gap: 20px;
    }
    .frontend-dev{ 
        font-size: 27px !important;
        margin-left: 3px !important;

    }
    .myname{ 
        font-size: 40px !important;
        margin-left: 10px;
        margin-bottom: 47px;
    }
    .iam{ 
        font-size: 23px !important;
    }
  }
  @media(max-width: 383px) { 
    .profilpicture{ 
        max-width: 300px;
        height: 457px;
    }
    .myname{ 
        font-size: 38px !important;
    }
    .frontend-dev{ 
        font-size: 25px !important;
    }
    
  } 

  @media screen and (min-width: 2200px){ 
    .profilpicture{ 
        margin-top: 60px;
        margin-left: 120px;
    }
 .backgroundpic{ 
 width: 950px;
 }
 .landing-page-footer{ 
    gap: 90px;
 }
  } 