@font-face {
    font-family: 'Poppins';
    src: url('./assets/Poppins-Regular.ttf') format('truetype'),
     
}
 
*{ 
    scroll-behavior: smooth !important; 
}

html,body{ 
    font-family: 'Poppins';
    margin: 0;
    padding: 0;
}

